{% extends "base.html" %}

{% block title %}Sign Up{% endblock %}

{% block content %}

<!-- Signup page -->
<!-- Register account content  -->
<!-- Code content inspired by and altered for use in this project: 
     https://learndjango.com/tutorials/django-signup-tutorial  -->

<div class="container-md">
  <div class="row">
      <div class="col-12">
          <div class="card content-bg">
              <div class="card-body">
                <h2>Register account</h2>
                <h5>To make a reservation with us, please register an account. You can then also login to manage the reservations you have made.</h5>
                <br>
                <form method="post">
                  {% csrf_token %}
                  {{ form.as_p }}
                  <button type="submit">Sign Up</button>
                </form>
                <br>
                <div>
                <p>Already have an account?</p>
                <a href="{% url 'login' %}" class="btn btn-dark-form">Login</a>
              </div>
          </div>
      </div>
  </div>

{% endblock %}