/* --------------------------------------------------------------------------- Body */
body {
    background-image: url("https://res.cloudinary.com/dgvnrwkpg/image/upload/v1679551548/best-rest_v6xtzl.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: #111111;
    font-family: 'Cutive Mono', monospace;
    font-size: 1.2rem;
}

/* --------------------------------------------------------------------------- Navbar */
.navbar-bg {
    background-color: rgba(20, 20, 20, 0.7);
    border: none;
    border-radius: 0;
    color: #ffffff;
    margin-bottom: 15px;
}

.brand {
    font-size: 2.3rem;
    color: #ffffff;
}

.navbar-border-toggler {
    border-color: rgba(255, 255, 255, 0.7)!important;
}

.toggler-bg {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 15%;
}

/* ---------------------------------------------------------- Status - Login / Logout */
.login-status {
    list-style-type: none;
    color: #ffffff;
    text-decoration: none;
    padding-left: 0;
}

.login-status>li {
    display: inline;
}

.list {
    text-decoration: none;
    color: #ffffff;
}

/* ---------------------------------------------- Container / Content Opaque Background */
.container-md {
    max-width: 720px;
}

.content-bg {
    background-color: rgba(20, 20, 20, 0.7);
    border: none;
    border-radius: 0;
    color: #ffffff;
    margin-bottom: 15px;
}


/* ----------------------------------------------------------------------------- Buttons */
.btn-dark {
    margin: 7px;
    color: #ffffff;
    background-color: #1f1f1f;
    border-color: #d8b352;
    font-size: 1.2rem;
}

.btn-dark-form {
    margin: 7px;
    margin-left: 0;
    color: #ffffff;
    background-color: #1f1f1f;
    border-color: #d8b352;
    font-size: 1.2rem;
}

.btn-gold-form {
    margin: 7px;
    margin-left: 0;
    color: #ffffff;
    background-color: #d8b352;
    border-color: #1f1f1f;
    font-size: 1.2rem;
}

.btn-login-out {
    color: #ffffff;
    background-color: #1f1f1f;
    border-color: #d8b352;
    font-size: 1.2rem;
}

/* ------------------------------------------------------------- Headings and paragraphs */
.heading {
    margin-top: 0.5rem;
}

.underline {
    text-decoration: underline;
    text-decoration-thickness: 1px;
}

.no-margin {
    margin-bottom: 0;
}

/* ------------------------------------------------------------------------- Input field */
td>input {
    width: 150px; 
  }

/* -------------------------------------------------------------------------------- Logo */
/*.logo {
    font-size: 2.7rem;
    color: #ffffff;
    text-align: center;
}*/

/* ------------------------------------------------------------------------------ Footer */

.dark-bg {
    background-color: rgba(20, 20, 20, 0.7);
}

.social-links {
    color: #ffffff;
}


@media (min-width: 440px) {
    td>input {
        width: fit-content; 
      }
}


/*
.main-bg {
    background-color: #405887;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #23BBBB;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #445261;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}*/