{% extends "base.html" %}

{% block content %}

<!-- This form sets basic template for Reservation model -->

<div class="container-md">
    <div class="row">
        <div class="col-12">
            <div class="card content-bg">
                <div class="card-body">
                    <h2 class="text-center">Confirmation of your reservation</h2>
                    <br>
                    <p>Number of guests: {{ object.guest }}</p>
                    <p>Date: {{ object.day }}</p>
                    <p>Time: {{ object.time }}</p>
                    <p>First name: {{ object.first_name }}</p>
                    <p>Last name: {{ object.last_name }}</p>
                    <p>Email address: {{ object.email }}</p>
                    <br>
                    <a href="{% url 'restaurant-update' object.id %}" class="btn btn-gold-form">Edit reservation</a>
                    <a href="{% url 'home' %}" class="btn btn-dark">Return to front page</a>
                </div>
            </div>
        </div>

    </div>

</div>

{%endblock%}