{% extends "base.html" %}

{% block content %}

<!-- Edit reservation page -->
<!-- Edit a user reservation form content -->
<!-- Based on ReservationUpdateView -->
<!-- Code content inspired by and altered for use in this project: 
     https://www.geeksforgeeks.org/updateview-class-based-views-django/?ref=rp  -->

<div class="container-md">
    <div class="row">
        <div class="col-12">
            <div class="card content-bg">
                <div class="card-body">
                    <h2 class="text-center">Edit your reservation</h2>
                    <br>
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <br>
                        <input type="submit" value="Save changes" class="btn btn-dark">
                    </form>
                    <br>
                    <a href="{% url 'restaurant-delete' object.id %}" class="btn btn-burgundy-form">Delete reservation</a>
                    <a href="{% url 'restaurant-list' %}" class="btn btn-dark">Back</a>
                </div>
            </div>
        </div>
    </div>
</div>

{%endblock%}