{% extends "base.html" %}

{% block content %}

<!-- Manage your reservation list page -->
<!-- List of users made reservation/s content -->
<!-- Based on ReservationListView -->
<!-- Code content inspired by and altered for use in this project: 
     https://www.geeksforgeeks.org/listview-class-based-views-django/  -->

<div class="container-md">
    <div class="row">
        <div class="col-12">
            <div class="card content-bg">
                <div class="card-body">
                    <h2 class="text-center">Your reservations</h2>
                    <ul>
                      <!-- Iterate over object_list -->
                      {% for object in object_list %}
                      <!-- Display Objects -->
                      <li>Booking number: {{ object.id }}</li>
                      <li>Number of guests: {{ object.guest }}</li>
                      <li>Date: {{ object.day }}</li>
                      <li>Time: {{ object.time }}</li>
                      <li>First name: {{ object.first_name }}</li>
                      <li>Last name: {{ object.last_name }}</li>
                      <a href="{% url 'restaurant-update' object.id %}" class="btn btn-gold-form">Edit reservation</a>
                      <hr />
                      <!-- If object_list is empty  -->
                      {% empty %}
                      <li>No reservations yet.</li>
                      {% endfor %}
                    </ul>
                    <a href="{% url 'home' %}" class="btn btn-dark">Return to front page</a>
                </div>
            </div>
        </div>
    </div>
</div>

{%endblock%}
