{% extends "base.html" %}

{% block content %}

<!-- This form sets basic template for Reservation model -->

<div class="container-md">
    <div class="row">
        <div class="col-12">
            <div class="card content-bg">
                <div class="card-body">
                    <h2 class="text-center">Edit your reservation</h2>
                    <br>
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <br>
                        <input type="submit" value="Save changes">
                    </form>
                    <br>
                    <a href="{% url 'restaurant-delete' object.id %}" class="btn btn-burgundy-form">Delete reservation</a>
                    <a href="{% url 'restaurant-list' %}" class="btn btn-dark-form">Back</a>
                </div>
            </div>
        </div>

    </div>

</div>

{%endblock%}