{% extends "base.html" %}

{% block content %}

<!-- Reservation form page -->
<!-- Make a reservation form content -->
<!-- Based on ReservationCreate -->
<!-- Code content inspired by and altered for use in this project: 
     https://www.geeksforgeeks.org/createview-class-based-views-django/  -->

<div class="container-md">
    <div class="row">
        <div class="col-12">
            <div class="card content-bg">
                <div class="card-body">
                    <h5 class="text-center">Enter details for your reservation</h5>
                    <br>
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <br>
                        <input type="submit" value="Save reservation">
                        <a href="{% url 'home' %}" class="btn btn-dark-form">Back</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{%endblock%}