{% extends "base.html" %}

{% block content %}

<!-- This form sets basic template for Reservation model -->
<div class="container-md">
    <div class="row">
        <div class="col-12">
            <div class="card content-bg">
                <div class="card-body">
                    <h5 class="text-center">Enter details for your reservation</h5>
                    <br>
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <br>
                        <input type="submit" value="Save">
                    </form>
                </div>
            </div>
        </div>

    </div>

</div>

{%endblock%}