{% load static %}

<!DOCTYPE html>
<html class="h-100">

<head>
    <title>Skafferiet Restaurant</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Raleway:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Local restaurant in central Stockholm, Sweden">
    <meta name="keywords" content="restaurant, local, stockholm, sweden">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body class="d-flex flex-column h-100">

    <!-- Base template -->
    <!-- Navbar / Log in/out status / Social media links -->
    <!-- Code content inspired by and altered for use in this project: 
     https://developer.mozilla.org/en-US/docs/Learn/Server-side/Django/Authentication  -->

    <nav class="navbar navbar-expand-lg navbar-light navbar-bg">
        <div class="container navbar-max-width">
            <a class="navbar-brand" href="{% url 'home' %}"><span class="brand">Skafferiet</span></a>
            <button class="navbar-toggler navbar-border-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon toggler-bg"></span>
            </button>
            <div class="collapse navbar-collapse no-flex-grow" id="navbarText">

                <!-- Log in/out status -->
                <ul class="login-status">
                    {% if user.is_authenticated %}
                        <li>User: {{ user.get_username }}</li>
                        <li><a class="list btn btn-login-out" href="{% url 'logout' %}">Logout</a></li>
                    {% else %}
                        <li><a class="list btn btn-login-out" href="{% url 'login' %}?next={{ request.path }}">Login</a></li>
                    {% endif %}
                </ul>
       
            </div>
        </div>
    </nav>

    <!-- Main content -->
    <main>
        {% block content %}
        <!-- Content Goes here -->
        {% endblock content %}
    </main>

    <!-- Footer and Social media links-->
    <footer class="footer mt-auto py-3 dark-bg">
        <p class="m-0 text-center text-white">Skafferiet Restaurant</p>
        <p class="m-0 text-center text-white">Follow us:
            <a href="https://facebook.com" target="_blank" rel="noopener"
            aria-label="Visit our Facebook page (opens in a new tab)">
            <i class="fab fa-facebook-square ms-3 social-links"></i></a>
            <a href="https://twitter.com" target="_blank" rel="noopener"
            aria-label="Visit our Twitter page (opens in a new tab)">
            <i class="fab fa-twitter-square ms-3 social-links"></i></a>
            <a href="https://instagram.com" target="_blank" rel="noopener"
            aria-label="Visit our Instagram page (opens in a new tab)">
            <i class="fab fa-instagram-square ms-3 social-links"></i></a>
            <a href="https://youtube.com" target="_blank" rel="noopener"
            aria-label="Visit our Youtube page (opens in a new tab)">
            <i class="fab fa-youtube-square ms-3 social-links"></i></a>
        </p>
    </footer>
</body>

</html>